
/*Main Container*/
#itemDisplayContainer { padding: 10px; }

/*Menu Container*/
#itemDisplayMenuContainer { height: 50px; width: 700px; margin: 0 auto;  margin-bottom: 10px; }
#itemMenu { position: absolute; top: 10px; width: 700px; }

/*Menu Layer 1*/
.menuRoot {}
.category {} 
.catA {}
.catA:hover { background-color: grey; }

/*Sub Menu Layer*/
.menuLayer1 {}
.subCategory {}
.subA {}

/*Content Window*/
#itemDisplayContent {position: relative; width: 700px; height: 700px; margin: 0 auto; padding: 10px; }
#itemSearchBtn, #pagerPreviousBtn, #pagerNextBtn:hover { cursor: pointer; }
.sortOption a { color: black; text-decoration: none;}
.sortOption:hover{  }